<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pymenta" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pymenta" %>">

	<!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://startbootstrap.github.io/startbootstrap-grayscale/css/styles.css" rel="stylesheet" />

    <!--<%= stylesheet_link_tag "devise", :media => "all" %>-->
	<%= stylesheet_link_tag "bootstrap3", :media => "all" %>
    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= javascript_include_tag 'jquery.easing.min' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <header class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
	<div class="nav-collapse">
		<ul class="nav pull-left">
			<%= link_to "PYMENTA", root_path, :class => 'brand' %>
		</ul>
	</div>
			<p class="text-info">beta</p>

    </div>
  </header>
	
    
      <div class="jumbotron vertical-center text-black"> 
        <section class="container">
		<main class="main">
          
	        <div class="span4"></div>	
	        <div class="span4 pull-center">
	          <div class="content">
  		    <%= render 'layouts/messages' %>
  			<%= yield %>
			  </div>
		    </div>	
		  <div class="span4"></div>
          </div>
		  </main>
	    </section>
      </div> <!--! end of .container -->
    <!--! end of .jumbotron -->
  <!--! end of #main -->
	 <!--! end of #wrap -->
	   <footer class="footer bg-black small text-center text-white-50">
		<div class="container wet-asphalt col-sm-6">
			<%= t('.copyright', :default => t("layouts.home.copyright")) %>
			<a target="_blank" href="http://papayalabs.github.io" title="Lapapaya"><%= t('.companyname', :default => t("layouts.home.companyname")) %>
			</a>. <%= t('.allrightreserved', :default => t("layouts.home.allrightreserved")) %>
	<div><%= link_to t('.termsofservice', :default => t("helpers.home.termsofservice")), terms_path %></div>
	<div><%= link_to t('.privacypolicy', :default => t("helpers.home.privacypolicy")), privacy_path  %></div>
		</div>
	</footer>
  </body>
</html>
